@font-face {
	font-family: 'BebasNeueBold';
	src: url(../fonts/BebasNeue Bold.otf);
	}	
@font-face {
	font-family: 'Arial Black';
	src: url(../fonts/ariblk.ttf);
	}


#containter {
	width: 100%;
	height: 100%;
}

